@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/CooperHewitt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/CooperHewitt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/CooperHewitt-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/CooperHewitt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/CooperHewitt-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/CooperHewitt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/CooperHewitt-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);

  --color-fg: var(--fg);
  --color-fg-muted: var(--fg-muted);
  --color-fg-highlight: var(--fg-highlight);

  --color-highlight: var(--highlight);
  --color-highlight-dark: var(--highlight-dark);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-primary: "Cooper Hewitt", sans-serif;
}

@layer base {
  :root {
    --bg-dark: hsla(0, 0%, 76%, 0.5);
    --bg: hsla(240, 11%, 96%, 1);
    --bg-light: hsla(0, 0%, 100%, 0.3);

    --fg: hsla(240, 6%, 12%, 1);
    --fg-muted: hsla(0, 0%, 36%, 1);
    --fg-highlight: hsla(240, 11%, 96%, 1);

    --highlight: hsla(0, 0%, 16%, 1);
    --highlight-dark: hsla(0, 0%, 6%, 1);

    --primary: hsl(211, 100%, 50%, 1); /* System Blue (≈ “#007AFF”) */
    --secondary: hsl(0, 70%, 50%, 1); /* Bold Product Red (rich red accent) */
  }

  .dark {
    --bg-dark: hsla(0, 0%, 1%, 1);
    --bg: hsla(0, 0%, 5%, 1);
    --bg-light: hsla(0, 0%, 10%, 1);

    --fg: hsla(300, 0%, 95%, 1);
    --fg-muted: hsla(300, 0%, 69%, 1);

    --highlight: hsla(330, 0%, 39%, 1);
    --highlight-dark: hsla(0, 0%, 16%, 1);

    --primary: hsla(0, 66%, 75%, 1);
    --secondary: hsla(183, 52%, 57%, 1);
  }

  html {
    @apply scroll-smooth overflow-x-hidden;
  }

  body {
    @apply bg-bg text-fg font-primary transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  section {
    @apply px-10;
  }
}

@layer utilities {
  .container {
    max-width: 170vh;
    margin: 2.5rem auto;
    padding: 2rem;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 9999px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
